* {
    box-sizing: border-box;
}

body {
    background-image: url("../../assets/images/guitar_background.png");
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #33cc33;
}

.jumbotron {
    width: 80%;
    height: 600px;
    margin: 0 auto 0 auto;
    background-color: rgba(0, 0, 0, .6);
    color : #ffff00;
}

#start-btn-div {
    height: 490px;
    line-height: 490px;
}

.display-none {
    display: none;
}

#answer-yes-no {
    font-size: 50px;
}

.all-answers:hover {
    cursor: pointer;
    background-color: #000000;
}

#start-btn-div#start-btn {
    vertical-align: middle;
}

/* xs < 768 */
@media screen and (max-width: 767px) {
    #answer-yes-no {
        font-size: 30px;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    #answer-yes-no {
        font-size: 40px;
    }
}

/* md */
@media screen and (min-width: 992px) {
    #answer-yes-no {
        font-size: 50px;
    }
}